#include <windows.h>
#include "IDS.H"

Menu MENU
BEGIN
    POPUP "&Archivo"
        BEGIN
            MENUITEM "&Diálogo", CM_DIALOGO
            MENUITEM "&Salir", CM_CLOSE
        END
    POPUP "&Edición"
        BEGIN
            MENUITEM "&Diálogo", CM_DIALOGO
        END
    POPUP "&Ver"
        BEGIN
            MENUITEM "1440x900", CM_SIZEA
            MENUITEM "1680x1050", CM_SIZEB
            MENUITEM "1920x1080", CM_SIZEC
        END
END

DialogoPrueba DIALOG 0, 0, 189, 106
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Scroll bars"
FONT 8, "Helv"
BEGIN
 CONTROL "ScrollBar1", ID_SCROLLH, "SCROLLBAR",
    SBS_HORZ | WS_CHILD | WS_VISIBLE,
    7, 3, 172, 9
 CONTROL "Scroll 1:", -1, "STATIC",
    SS_LEFT | WS_CHILD | WS_VISIBLE,
    24, 18, 32, 8
 CONTROL "Edit1", ID_EDITH, "EDIT",
    ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP,
    57, 15, 32, 12
 CONTROL "ScrollBar2", ID_SCROLLV, "SCROLLBAR",
    SBS_VERT | WS_CHILD | WS_VISIBLE,
    7, 15, 9, 86
 CONTROL "Scroll 2:", -1, "STATIC",
    SS_LEFT | WS_CHILD | WS_VISIBLE,
    23, 41, 32, 8
 CONTROL "Edit2", ID_EDITV, "EDIT",
    ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP,
    23, 51, 32, 12
 CONTROL "Aceptar", IDOK, "BUTTON",
    BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,
    40, 87, 50, 14
 CONTROL "Cancelar", IDCANCEL, "BUTTON",
    BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,
    100, 87, 50, 14
END

